
@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "TTLakes";
    src: url("fonts/TTLakes-Regular.woff")
}
@font-face {
    font-style: bold;
    font-weight: 700;
    font-family: "TTLakes";
    src: url("fonts/TTLakes-Bold.woff")
}
@font-face {
    font-style: medium;
    font-weight: 500;
    font-family: "TTLakes";
    src: url("fonts/TTLakes-Medium.woff")
}
@media (min-width: 320px) and (max-width: 767px) {

.menu-navigation {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 15.2px 0;
}

.divider:nth-of-type(2) , .call , .chat , .profile {
    display: none;
}
.menu-navigation__first-section , .menu-navigation__second-section {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    margin: 0px 0px;
    font-family: "TTLakes";
}
main  {
    width: auto;
    height: auto;
    background-color: #F8F8F8;
}
.page-title {
    display: flex;
    font-weight: 700;
    font-size: 20px;
}
.page-title p {
    margin-left: 10px;
    font-size: 28px;
}
.page-title__text{
    display: flex;
}
.page-title__1120-nav{
    display: none;
}
.slide-bar {
    color: #7E7E82;
    display: flex;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    align-items: center;
}
.slide-bar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.slide-bar :nth-of-type(1) {
    width: 246px;
    padding: 8px 16px;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
}
.slide-bar span {
    padding: 8px;
    margin-left: 16px;
}
.slide-bar::after{
    content: "";
    display: block;
    position: absolute;
    right: 0%;
    width: 24px;
    height: 40px;
    background: linear-gradient(to left, rgba(248, 248, 248, 1) , rgba(248, 248, 248, 0))
}
.main-content {
    font-size: 14px;
    text-align: left;
    letter-spacing: 0.2px;
}
.main-content p {
    overflow: hidden;
    max-height: 100px ;
    margin: 0 20px;
    margin-top: 24px;
}
.main-content p:nth-of-type(2){
    display: none;
}
.read-further {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0 20px;
    margin-top: 16px;
}
.read-further img {
    margin-left: 8px;
    margin-right: 18px;
}
.main-content >  .content-image {
  padding: 19.255px 0;
}}

@media (min-width: 768px) and (max-width: 1119px) {
    .navigation {
        margin: auto;
    }
    .menu-navigation {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 15.2px 24px;
    }
    .menu-navigation__first-section , .menu-navigation__second-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-navigation__first-section {
        width: 24.3%;
    }
    .menu-navigation__second-section {
        width: 38.8%;
    }
    
    body {
        margin: 0px 0px;
        font-family: "TTLakes";
    }
    main  {
        width: auto;
        height: 405px;
        background-color: #F8F8F8;
    }
    .page-title {
        display: flex;
        font-weight: 700;
        font-size: 20px;
    }
    .page-title p {
        margin-left: 20px;
        font-size: 28px;
    }
    .page-title__text {
        display: flex;
    }
    .page-title__1120-nav{
        display: none;
    }
    .slide-bar {
        color: #7E7E82;
        display: flex;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        align-items: center;
        justify-content: space-between;
        
    }
    .slide-bar::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    .slide-bar :nth-of-type(1) {
        width: 246px;
        padding: 8px 16px;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        background-color: #FFFFFF;
    }
    .slide-bar span {
        margin-left: 24px;
    }
    .slide-bar::after{
        content: "";
        display: block;
        position: absolute;
        right: 0%;
        width: 24px;
        height: 40px;
        background: linear-gradient(to left, rgba(248, 248, 248, 1) , rgba(248, 248, 248, 0))
    }
    .main-content {
        display: flex;
        font-size: 14px;
        text-align: left;
        letter-spacing: 0.2px;
        justify-content: space-between;
    }
    .main-content__text{
        display: flex;
        flex-direction: column;
        line-height: 20px;
        width: 340px;
    }
    .main-content p {

        margin: 0 20px;
        margin-top: 24px;
    }
    .main-content p:nth-of-type(2) {
        height: 40px;
        overflow: hidden;
    }
    .read-further {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin: 0 20px;
        margin-top: 16px;
    }
    .read-further img {
        margin-left: 8px;
        margin-right: 18px;
    }

    .main-content .content-image
    {
    padding: 19.255px 0;
    margin-right: 25px;
    }
    .main-content .content-image img{
        border: 5px solid #F8F8F8;
        border-radius: 15px;
        width: 360px;
        height: 220px;
    }}

        @media (min-width: 1120px){
            .navigation {
                margin: auto;
            }
            .menu-navigation {
                display: none;
            }

            body {
                margin: 0px 0px;
                font-family: "TTLakes";
            }
            main  {
                width: auto;
                height: 100vh;
                background-color: #F8F8F8;
            }
            .page-title {
                display: flex;
                font-weight: 700;
                justify-content: space-between;
                align-items: center;
            }
            .page-title__text{
                display: flex;
            }
            .page-title__text p {
                font-size: 20px;
                margin-left: 20px;
                font-size: 28px;
            }
            .page-title__1120-nav{
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            .page-title__1120-nav__repair , .page-title__1120-nav__checkstatus{
                font-weight: 500;
                display: flex;
                align-items: center;
                width: 40%;
                justify-content: space-between;
            }

            .slide-bar {
                color: #7E7E82;
                display: flex;
                white-space: nowrap;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-left: 30px;
                height: 90px;
            }
            
            .slide-bar span:not(:first-child) {
                flex-basis: 15%;
                margin-right: 10px;
                margin-left: 15px;
            }
            .slide-bar span:nth-of-type(1) {
                width: 246px;
                padding: 8px 16px;
                border: 2px solid #B8FFEC;
                border-radius: 6px;
                background-color: #FFFFFF;
                flex-basis: 15%;
            }

            .main-content {
                display: flex;
                font-size: 14px;
                text-align: left;
                letter-spacing: 0.2px;
                justify-content: space-between;
            }
            .main-content__text{
                display: flex;
                flex-direction: column;
                line-height: 20px;
                width: 50%;
            }
            .main-content p {
                margin: 0 20px;
                margin-top: 24px;
            }
            .main-content p:first-child {
                margin-top: 10px;
            }
            .main-content p:nth-of-type(2) {
                height: 30%;
                overflow: hidden;
            }
            .read-further {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                margin: 0 20px;
                margin-top: 16px;
            }
            .read-further img {
                margin-left: 8px;
                margin-right: 18px;
            }
        
            .main-content .content-image
            {
            padding: 0;
            margin-right: 25px;
            }
            .main-content .content-image img{
                border: 5px solid #F8F8F8;
                border-radius: 15px;
                width: 100%;
                height: 250px;
            }}
